.contextMenuContainer {
    border-radius: 6px;
}

.MuiIconButton-colorPrimary,
.Mui-selected svg {
    color: #0050ff !important;
}

.MuiBadge-colorPrimary {

    background-color: #0050ff;
}

.MuiToolbar-root {
    background-color: #282a32;
    color: white;
}

.MuiButton-label,
.MuiToggleButton-label:nth-child(1) {
    color: #bebebe;
}


.MuiButton-outlined {
    border-color: white;
}

.MuiButton-outlined:hover {
    border-color: #0050ff;
}

.MuiIconButton-label {
    color: #bebebe;
}

a,
.ProseMirror a {
    color: #0050ff;
    text-decoration: unset !important;
}


a:hover {
    color: #0050ff;
}

a:visited {
    color: #50f !important;
}

.MuiFab-sizeMedium {
    width: auto;
    height: 34px;
    padding: 0 8px;
    min-width: 34px;
    border-radius: 17px;
}


.MuiSvgIcon-fontSizeSmall {
    font-size: 1rem;
    color: #777778;
}

.MuiTypography-button {
    text-overflow: none;
    max-width: unset;
}

.MuiTypography-colorPrimary {
    color: #282a32;
}

.MuiTypography-gutterBottom {
    font-style: italic;
    text-align: center;
}

.MuiOutlinedInput-adornedStart {
    padding-left: 14px;
}

.MuiOutlinedInput-root {
    position: relative;
    border-radius: 4px;
}

.MuiInputBase-fullWidth {
    width: 100%;
}


.MuiPaper-rounded {
    border-radius: 8px;
}

.contextMenuContainer {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    margin-bottom: 2px;
}

#boardsContainer {
    :nth-child(n) {
        border-radius: 6px;
    }
}
